.mainContainer {
    height: 100vh;
    overflow: hidden;
}

.centralContainer {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cadastroContainer {
    background-color: #1E1E2E;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 20px;
    border-color: #bab8bd34;
    transition: border-color 0.5s, box-shadow 0.5s;
    overflow: hidden;
}

.cadastroContainer:hover {
    border-color: #cba6f76c;
    box-shadow: 0 0 2px #cba6f794;
    transition: border-color 0.5s, box-shadow 0.5s;
}

.inputsContainer{
    width: 90%;
}
.input {
    width: 100%;
    height: 35px;
    background-color: hsl(240, 21%, 12%);
    border: none;
    padding: 20px;
    padding-left: 10px;
    color: #e4e3ec94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    transition: border-color 0.5s, box-shadow 0.5s;
}

.input:focus{
    outline: #CAA6F7;
    border-color: #cba6f768;
    box-shadow: 0 0 2px #CAA6F7;
}

.input:hover {
    outline: #CAA6F7;
    border-color: #cba6f768;
    box-shadow: 0 0 2px #CAA6F7;
}

.textarea:focus{
    outline: #CAA6F7;
    border-color: #cba6f768;
    box-shadow: 0 0 2px #CAA6F7;
}

.textarea:hover {
    outline: #CAA6F7;
    border-color: #cba6f768;
    box-shadow: 0 0 2px #CAA6F7;
}

.textarea {
    width: 100%;
    padding: 20px;
    min-height: 350px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    background-color: #181825;
    border: 1px solid #ffffff1c;
    padding: 20px;
    color: #e4e3ec94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
    resize: none;
    transition: border-color 0.5s, box-shadow 0.5s;
    border: none;
}

.mensagemErro{
    margin-top: 10px;
    color: rgb(240, 30, 30);
    opacity: 0.8;
}

.buttonCadastrar {
    background-color: #987db9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.buttonCadastrar:hover {
    background-color: #523b6e;
    transition: background-color 0.3s;
}