.mainContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.containerPergunta{
    width: 70%;
    height: 100%;
    height: max-content;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    color: white;
}